<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <label for="">取个名字吧：
        <input type="text" placeholder="请输入你的名字">
        <button>注册</button>
      </label>
      <br/>
      <label for="">请输入番茄工作法时间:
        <input type="num" placeholder="25">(单位：min)
        <button>设置</button>
      </label>
      <br/>
      <label>开始一个任务：
        <input type="text" placeholder="请输入一个任务">
        <button>开始</button>
      </label>
      <br>
      <label for="">
        <button>获取</button>当前执行的任务：<br>
        <div class='content'></div>
      </label>
    </div>
  </body>
</html>
